.nav-black {
  background-color: #000;
  color: #fff;
  height: 15%;
}

#map {
  height: 400px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.nav-busqueda {
  width: 50%;
  margin-left: 25%;
}

.nav-green{
  background-color: rgba(195, 75, 20, 0.66);
}

.color-white {
  color: #fff;
}

.restaurante {
  width: 80%;
}

@media only screen and (max-width:680px){

  
}
